/* William Zimrin and Jeanette Miranda
6/2011

Whole Page
Tracer
Expand/collapse button
Call table
tab bar
code pane
scroll buttons
other
*/


/* Whole page */

body {
    overflow: hidden;
    font-family: "monospace";
}

div#middle {
    padding-left: 300px;
}

div#middle .column {
    float: left;
    position: relative;
}

/* Tracer */

div#tracerWrapper {
    float: left;
    width: 100%;
    border: 2px solid black;
    /*position: relative;*/
    height: 10px;
    overflow: hidden;
    /*z-index: -1;*/

}

div#tracer {
    position: absolute;
    top:0px;
    left:0px; /* FA adjust depending on whether codePane is open */
    white-space: nowrap;
}


div.call {
    margin: 3px;
    vertical-align: top;
    font-size:12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
}

.background2 {
    background: #a3b3c7; /*5f7a9c;  light blue #ddd;*/
    border-color: #a3b3c7;
}

.background1 {
    background: #e7ebef; /*#6a877f; /*#b3d0ca; /*#b9a56a; /*#758a56; /*#4e5b39; /* <-- olive #d1d1d1; #fff;*/
    border-color: #e7ebef; /*#fff;*/
}

.background1>table>tbody>tr>td.arg {
    background: #f6f8f9; /*#eee; /* #d3e4e1; /*#d1c49e; /* light olive */
}

.background2>table>tbody>tr>td.arg {
    background: #b9c6d4; /*6b819c;*/
}

/* Expand/collapse button */

.button {
    color: white;
    background: black;
    text-align: center;

    vertical-align: middle;
    border: 3px solid black;
    border-radius: 2px;
    -moz-border-radius: 2px;
    
    /*font-family:"Arial";*/
    font-weight: bold;
    font-size: 15px;

    width: 50px;
    height: 15px;
}


/* Call Table */

.callTable {
    border-spacing: 5px;
}

.cell {
    white-space: pre;
    font-size: 14px;
    /*font-family: "monospace";*/
}

.arg > div {
    text-align:left;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

td.arg.cell {
    background: #ebebeb; /* #ccc;*/
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.arrow {
    font-weight: bold;
}

.callTable > tbody > tr > td {
    vertical-align: middle;
}

/* Tab bar */

div#tabbar {
    width: 100%;
    overflow: auto;
    float: top;
}

ul.tabs {
    list-style-type: none;
    margin: 10px 0px; /*TB 10, LR 0*/
    padding-left: 0px
}

ul.tabs > li {
    display: inline;
    padding: 7px;
    white-space: nowrap;
    /*font-family: "monospace";*/
}

ul.tabs > li.picked {
    font-weight: bold;
}

ul.tabs > li.other:hover {
    font-weight: bold;
}

/* Code Pane */

div#codePane {
    margin-left: -100%;
    padding-left: 5px;
    padding-right: 5px;
    right: 300px;
    width: 290px;
    background: black;
    margin-right: 10px;
    height: 100%;
    color: white;
    white-space: pre;
    overflow:auto;
    /*font-family: "monospace";*/
    font-size: 13px;
}

.highlight {
    background: #666;
}

/* Scroll Buttons */

div.scrollButton {
    font-size: 32px;
    opacity: .3;
}

div.scrollButton:hover {
    opacity: 1;
}

div#leftScroll {
    position: absolute;
    left: 0px; 
    top: 50%; 
}

div#rightScroll {
    position: absolute;
    right: 0px;
    top: 50%;
}

div#upScroll {
    text-align: center;
    position: absolute;
    top: 0px;
    left: 50%;
}

div#downScroll {
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 0px;
}

/* Other */

.expandable {
    color: #23c;
}

.background1 > table > tbody > tr > td > div.expandable:hover {
    font-weight: bold;
    /*background: #c2d1e5;*/
}


.background2 > table > tbody > tr > td > div.expandable:hover {
    font-weight: bold;
    /*background: #DCE5F0; #E6ECF4; #D4DFED;*/
}

.hover {
    background: #c2d1e5 !important; 
}

.superparent {
    overflow-x: visible;
    width: auto;
    float: left;
}

.childTable > tbody > tr > td {
    vertical-align: top;
}
