.expandedCall {
    text-align: left;
    border-color: black;
}
.shrunkenCall {
    color: black;
    text-align: center;
    padding: 2px;
}
.call {
    color: black;
    margin: 3px;
    vertical-align: top;
    font-family:"Arial";
    font-size:15px;
    float:left;
    border-radius: 5px;
    border-style: solid;
    overflow: hidden;
}
.background1 {
    background: #dddddd;
    border-color: #dddddd;
}
.background2 {
    background: #aaaaaa;
    border-color: #aaaaaa;
}
.delButton {
    color: white;
    background: black;
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-radius: 3px;
    border-color:black;
    font-family:"Arial";
    font-weight: bold;
    font-size: 15px;/*0.80em;*/
    width: 15px;
}

.superparent {
    background:white;
    /*white-space: nowrap;*/
}

.arg {
    text-align: center;
}
