.expandedCall {
    color: black;
    text-align: left;
    border-color: black;
}
.collapsedCall {
    color: #23c !important;
    text-align: left;
    padding: 2px;
    white-space: pre;
}
.call {
    margin: 3px;
    vertical-align: top;
    font-family:"Arial";
    font-size:12px;
    border-radius: 5px;
    border-style: solid;
}
.background1 {
    background: #ddd;
    border-color: #ddd;
}
.background2 {
    background: #fff;
    border-color: #fff;
}
.delButton div {
    color: white;
    background: black;
    text-align: center;
    vertical-align: center;
    border-style: solid;
    border-radius: 3px;
    border-color:black;
    font-family:"Arial";
    font-weight: bold;
    font-size: 12px;
    width: 15px;
    float: left;
}

.superparent {
    overflow-x: auto;
}

.arg {
    text-align: center;
    white-space: pre;
}

.arg div {
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

.close {
    white-space: pre;
}

.name {
    white-space: pre;
    font-weight: bold;
}

.result {
    white-space: pre;
}

.childTable {
    width: 100%;
}

.childTable tr td {
    vertical-align: top;
}

.callTable tr td {
    vertical-align: middle;
}

.callTable {
    float: top left;
}

td.delButton {
    vertical-align: top !important;
}

.collapsedCall table tr td {
    color: #23c;
    white-space: pre;
    vertical-align: middle !important;
}

.arrow {
    white-space: pre;
    font-weight: bold;
}

ul.tabs {
    list-style-type: none;
    margin:0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 0px
}

ul.tabs li {
    display: inline;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    padding: 2px;
    white-space: nowrap;
    font-family: "Arial";
    font-weight: bold;
}

ul.tabs li.picked {
}

ul.tabs li.other {
    background:#ddd;
    color: #23c
}

div#tabbar {
    overflow: auto;
    margin-bottom:10px;
}

.expandable {
    color: #23c;
}
