/* William Zimrin and Jeanette Miranda
   6/2011

Whole Page
Tracer
Expand/collapse button
Call table
tab bar
code pane
scroll buttons
other
*/


/* Whole page */

body {
    margin: 0px;
    overflow: auto;
    font-family: "dejavu sans mono", "consolas", "courier new","monospace";
}

.dragging {
    cursor: move !important;
}

.superparent {
    overflow-x: visible;
    width: auto;
    float: left;
}

/*ce-menu/rest of page positioning*/

div#middle .column {
    position: relative;
}

div#middle {
    position: relative;
    width: 100%;
    overflow: visible;
    float: left;
}

div#wrapper {
    overflow: visible;
    float: left;
    width: 100%;
    height: 10px;
    /*padding-left: 200px;*/
}

div#ceMenu {
    display: none;
    float: left;
    margin-left: -100%;
    position: relative;
    /*right: 100px;*/
    /*width: 10%;*/
    /*width: 100px;*/
    height: 100%;
    overflow: auto;
    background: #C8D2DA;
}

/* Trace */

div#tracerWrapper {
    float: right;
    position: relative;
    /*width: 90%;*/
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#tracer {
    /*position: absolute;
    top:0px;
    left:0px;*/ 
    white-space: nowrap;
    cursor: pointer;
}
div.call {
    margin: 1px;
    vertical-align: top;
    font-size:12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

div.error {
    color: purple
}

.childTD {
    vertical-align: top
}

.childTableParent {
    overflow:hidden;
}

/* Background and Arg coloring */
.background1 {
    background: #e7ebef; 
    border-color: #e7ebef;
}

.background2 {
    background: white;
    border-color: white;
}

.background1>table>tbody>tr>td.arg {
    background: #f6f8f9;
}

.background2>table>tbody>tr>td.arg {
    background: #e7ebef;
}

/* Passed Check Expects */
.passed-ce.background1 {
    background: #2c9004;
    border-color: #2c9004;
}

.passed-ce.background2 {
    background: #3cc305;
    border-color: #3cc305;
}

.passed-ce.background1>table>tbody>tr>td.arg {
    background: #3cc305;
}

.passed-ce.background2>table>tbody>tr>td.arg {
    background: #4af406;
}

/* Failed Check Expects */
.failed-ce>table>tbody>tr>td {
    color: white;
}

.failed-ce.background1 {
    background: #b30000;
    border-color: #b30000;
}

.failed-ce.background2 {
    background: red;
    border-color: red;
}

.failed-ce.background1>table>tbody>tr>td.arg {
    background: #e60000;
}

.failed-ce.background2>table>tbody>tr>td.arg {
    background: #ff4d4d;
}

/* Buttons */

.button {
    /*color:white;
      background:black;*/
    background: black;
    vertical-align: middle;

    border: 1px solid black;
    border-radius: 2px;
    -moz-border-radius: 2 px;
    padding: 0px;
    float: top;
    padding: 0;
}

/* Expand/collapse button */

td.button:hover {
    border-color: gray;
}

/* Call Table */

.callTable {
    border-spacing: 5px 2px;
}

.callTableShifted {
    margin-left: 100px;
}

.cell {
    white-space: pre;
    font-size: 14px;
}

.arg > div {
    text-align:left;
    padding: 3px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

td.arg.cell {
    background: #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.callTable > tbody > tr > td {
    vertical-align: middle;
}

.hasSource:hover {
    font-weight:bold;
}

/* Tab bar */

div#messagebar {
    width: 100%;
    padding: 2px 5px;
    float:top;
    background-color: red;
}

div#tabbar {
    width: 100%;
    overflow: auto;
    float: top;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-weight: 3px;
    overflow-y: hidden;
}

ul.tabs {
    list-style-type: none;
    margin: 5px 0px; /*TB, LR*/
    padding-left: 0px
}

ul.tabs > li {
    display: inline;
    padding: 7px;
    white-space: nowrap;
}

ul.tabs > li.picked {
    font-weight: bold;
}

ul.tabs > li.other:hover {
    font-weight: bold;
}

ul.tabs > li.check-expect-top-level {
    color: #F80000;
}

/* Check Expect Menu */

ul.ce-list {
    list-style-type: none;
    float:left;
    color: #DF1616;
    margin: 10px 0px; /*TB, LR*/
    /*margin-left: 10px;*/
    padding-left: 0px
}

ul.ce-list > li {
    white-space: nowrap;
    margin: 0px 10px;
}

ul.ce-list > li.picked {
    font-weight: bold;
}

ul.ce-list > li.other:hover {
    font-weight: bold;
}

/* Code Pane */

div#codePaneWrapper {
    float: right;
    background: black;
}

div#codePane {
    width: 100%;
    background: black;
    height: 100%;
    color: white;
    white-space: pre;
    overflow:auto;
    font-size: 13px;
    padding:3px;
}

.highlight {
    background: #ffff61;
}

.highlight span {
    color: fireBrick !important;
}

.lastHighlighted {
    background: #ffff61 /*#FF0*/;
    border-color: #ffff61 /*#ff0*/;
    color: fireBrick !important;
}

.to-src-button.lastHighlighted:hover {
    border-color: #ffffdb !important;
}

span.error {
    color: #FF0000;
}

span.comment {
    color: #f99428;
}

span.sexp-comment {
    color: #f99428;
}

span.constant {
    color: #47D600;
}

span.string {
    color: #33ae33;
}

span.parenthesis {
    color: white;
}

span.symbol {
    color: #47a1c2;
}

div#codePaneButton {
    height: 28px;
    font-size: 24px;
    background: white;
}

div#codePaneButton:hover {
    font-weight:bold;
    background: #e7ebef;
}

div.expandable:hover {
    font-weight: bold;
}

.hidden {
    display: none
}
