/* William Zimrin and Jeanette Miranda
6/2011

Whole Page
Tracer
Expand/collapse button
Call table
tab bar
code pane
scroll buttons
other
*/


/* Whole page */

body {
    overflow: hidden;
    font-family: "dejavu sans mono","courier new","courier","monospace";
}

body.dragging {
    cursor: pointer;
}

div#middle .column {
    float: left;
    position: relative;
}

.superparent {
    overflow-x: visible;
    width: auto;
    float: left;
}

.childTable > tbody > tr > td {
    vertical-align: top;
}

.childTableParent {
    overflow:hidden;
}

/* Trace */

div#tracerWrapper {
    float: left;
    width: 90%;
    height: 10px;
    overflow: auto;
}

div#tracer {
    position: absolute;
    top:0px;
    left:0px; 
    white-space: nowrap;
    cursor: pointer;
}

div.call {
    margin: 3px;
    vertical-align: top;
    font-size:12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
}

.background1 {
    background: #e7ebef; 
    border-color: #e7ebef;
}

.background2 {
    background: white;
    border-color: white;
}

.background1>table>tbody>tr>td.arg {
    background: #f6f8f9;
}

.background2>table>tbody>tr>td.arg {
    background: #e7ebef; }

td.button {
    color:white;
    background:black;
    vertical-align: middle;

    border: 2px solid black;
    border-radius: 2px;
    -moz-border-radius: 2 px;

    font-weight: bold;
}

td.body-button {
    /*font-size: px;*/
    text-align: left;
    white-space: pre;
    float: left;
}

/* Expand/collapse button */

td.ec-button {
    font-size: 15px;
    text-align: center;

    width: 35px;
}

td.button:hover {
    border-color: gray;
}

/* Call Table */

.callTable {
    border-spacing: 5px;
}

.callTableShifted {
    margin-left: 100px;
}

.cell {
    white-space: pre;
    font-size: 14px;
}

.arg > div {
    text-align:left;
    padding: 5px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

td.arg.cell {
    background: #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.callTable > tbody > tr > td {
    vertical-align: middle;
}

td.name:hover {
    font-weight:bold;
}

/* Tab bar */

div#tabbar {
    width: 100%;
    overflow: auto;
    float: top;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-weight: 3px;
    overflow-y: hidden;
}

ul.tabs {
    list-style-type: none;
    margin: 5px 0px; /*TB, LR*/
    padding-left: 0px
}

ul.tabs > li {
    display: inline;
    padding: 7px;
    white-space: nowrap;
}

ul.tabs > li.picked {
    font-weight: bold;
}

ul.tabs > li.other:hover {
    font-weight: bold;
}

/* Code Pane */

div#codePane {
    width: 100%;
    background: black;
    height: 100%;
    color: white;
    white-space: pre;
    overflow:auto;
    font-size: 13px;
    padding:3px;
}

.highlight {
    background: #FF0;
}

.lastHighlighted {
    background: #ff0 !important;
}

.body-button.lastHighlighted {
    border-color: #ff0 !important;
    color: black !important;
}

.body-button.lastHighlighted:hover {
    border-color: #ffbf80 !important;
}

span.error {
    color: #FF0000;
}

span.comment {
    color: #f99428;
}

span.sexp-comment {
    color: #f99428;
}

span.constant {
    color: #3cc239;
}

span.string {
    color: #33ae33;
}

span.parenthesis {
    color: #97452b;
}

span.symbol {
    color: #6666ff;
}

div#codePaneButton {
    font-size: 24px;
}

div#codePaneButton:hover {
    font-weight:bold;
    background: #e7ebef;
}

div.expandable:hover {
    font-weight: bold;
}

