/* William Zimrin and Jeanette Miranda
   6/2011 */


/* -------------------------------------------------------------------*/
/*                            WHOLE PAGE                              */
/* -------------------------------------------------------------------*/

body {
    margin: 0px;
    overflow: hidden;
    font-family: "dejavu sans mono", "consolas", "courier new","monospace";
}

.dragging {
    cursor: move !important;
}

.superparent {
    overflow-x: visible;
    width: auto;
    float: left;
}

div#wrapper {
    position: relative;
    overflow: visible;
    float: left;
    width: 100%;
    height: 10px;
}

div#ceMenu {
    display: none;
    float: left;
    margin-left: -100%;
    position: relative;
    height: 100%;
    overflow: auto;
    background: #C8D2DA;
}

.hidden {
    display: none
}

/* -------------------------------------------------------------------*/
/*                            TRACE                                   */
/* -------------------------------------------------------------------*/

div#traceWrapper {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

div#trace {
    white-space: nowrap;
    cursor: pointer;
}
div.call {
    margin: 1px;
    vertical-align: top;
    font-size:12px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

div.error > table > tbody > tr > td.result {
    color: white;
    background-color: red;
}

.childTD {
    vertical-align: top
}

.childTableParent {
    overflow:hidden;
}

/* -------------------------------------------------------------------*/
/*                    CALL BACKGROUND AND ARG COLORING                */
/* -------------------------------------------------------------------*/

.background1 {
    background: #e7ebef; 
    border-color: #e7ebef;
}

.background2 {
    background: white;
    border-color: white;
}

.background1>table>tbody>tr>td.arg {
    background: #f6f8f9;
}

.background2>table>tbody>tr>td.arg {
    background: #e7ebef;
}

.passed-ce.background1 {
    background: #2c9004;
    border-color: #2c9004;
}

.passed-ce.background2 {
    background: #3cc305;
    border-color: #3cc305;
}

.passed-ce.background1>table.callTable>tbody>tr>td.arg {
    background: #3cc305;
}

.passed-ce.background2>table.callTable>tbody>tr>td.arg {
    background: #4af406;
}

.failed-ce>table.callTable>tbody>tr>td {
    color: white;
}

.failed-ce.background1 {
    background: #b30000;
    border-color: #b30000;
}

.failed-ce.background2 {
    background: red;
    border-color: red;
}

.failed-ce.background1>table.callTable>tbody>tr>td.arg {
    background: #e60000;
}

.failed-ce.background2>table.callTable>tbody>tr>td.arg {
    background: #ff4d4d;
}

/* -------------------------------------------------------------------*/
/*                              BUTTONS                               */
/* -------------------------------------------------------------------*/

.button {
    background: black;
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 2px;
    -moz-border-radius: 2 px;
    padding: 0px;
    margin: 2px 0px;
    display: block;
}

.button:hover {
    border-color: gray;
}

/* -------------------------------------------------------------------*/
/*                              CALL TABLE                            */
/* -------------------------------------------------------------------*/

.callTable {
    border-spacing: 4px 2px;
}

.cell {
    white-space: pre;
    font-size: 14px;
}

.arg > div {
    text-align:left;
    padding: 3px;
    margin-left:auto;
    margin-right:auto;
    width:auto;
}

.buttonTD {
    vertical-align: bottom !important;
}

td.arg.cell {
    background: #ebebeb;
    border-radius: 2px;
    -moz-border-radius: 2px;
}

.callTable > tbody > tr > td {
    vertical-align: middle;
}

.hasSource:hover {
    font-weight:bold;
}

.expandable {
    position:absolute;
    right: -5px;
    top: -5px;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    border: 1px solid black;
    border-radius: 2px;
    -moz-border-radius: 2 px;
}

.expandableArg {
    position: relative;
}

.expandableArg:hover .expandable {
    background-color: black;
    color: white;
    opacity: 0.7 !important;
}

/* -------------------------------------------------------------------*/
/*                              TAB BARS                              */
/* -------------------------------------------------------------------*/

div#messagebar {
    width: 100%;
    float:left;
    background-color: red;
}

div#messagebar:hover { font-weight:bold;}

.tabBarImage {
    border: 2px solid white;
}

.tabBarImage:hover {
    border: 2px solid black;
}

li.picked .tabBarImage {
    border: 2px solid black;
}

.tabsDiv {
    width: 100%;
    overflow: auto;
    float: left;
    border-style: none;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 3px;
    overflow-y: hidden;
}

ul.tabsFormatting {
    list-style-type: none;
    margin: 5px 0px; /*TB, LR*/
    padding-left: 0px
}

ul.tabsFormatting > li {
    display: inline;
    padding: 7px;
    white-space: nowrap;
}

ul.tabsFormatting > li.picked {
    font-weight: bold;
}

ul.tabsFormatting > li.other:hover {
    font-weight: bold;
}

li.check-expect {
    color: red;
}

ul.tabsFormatting > li.check-expect-top-level {
    color: #F80000;
}

/* -------------------------------------------------------------------*/
/*                              CODE PANE                             */
/* -------------------------------------------------------------------*/

div#codePaneWrapper {
    float: right;
    background: black;
}

div#codePane {
    position: relative; /* makes scrolling work */
    width: 100%;
    background: #c3c9cc;
    height: 100%;
    color: white;
    white-space: pre;
    overflow:auto;
    font-size: 13px;
    padding:3px;
}

div#codePaneButton {
    height: 28px;
    font-size: 24px;
    background: white;
}

div#codePaneButton:hover {
    font-weight:bold;
    background: #e7ebef;
}


/* -------------------------------------------------------------------*/
/*                      HIGHLIGHTING ON CODE PANE                     */
/* -------------------------------------------------------------------*/

.highlight {
    background: #ffff61;
}

.highlight span {
    color: fireBrick !important;
}

span.error {
    color: #FF0000;
}

span.comment {
    /*color: #f99428;*/
    color: #c2741f;
}

span.sexp-comment {
    /*color: #f99428;*/
    color: #c2741f;
}

span.constant {
    /*color: #47D600;*/
    color: #298026;
}

span.string {
    /*color: #33ae33;*/
    color: #298026;
}

span.parenthesis {
    /*color: white;*/
    color: #843c24;
}

span.symbol {
    /*color: #47a1c2;*/
    color: #262680;
}

/* -------------------------------------------------------------------*/
/*                          HIGHLIGHTING ON TRACE                     */
/* -------------------------------------------------------------------*/

.lastHighlighted {
    background: #ffff61; 
    border-color: #ffff61;
    color: fireBrick !important;
}


.to-src-button.lastHighlighted:hover {
    border-color: #ffffdb !important;
}

